[Unit]
Description=sscrt-sienna pair arbitrage bot

[Service]
Type=simple
ExecStart=python3 arb_bot_2p.py sscrt-sienna-config
Restart=on-failure
WorkingDirectory=~/arb/src

[Install]
WantedBy=multi-user.target