[Unit]
Description=sscrt-shd pair arbitrage bot

[Service]
Type=simple
ExecStart=python3 arb_bot_2p.py sscrt-shd-config
Restart=on-failure
WorkingDirectory=/root/arb/src

[Install]
WantedBy=multi-user.target